<!-- Post Form -->
<div class="card border-primary mb-3">
  <div class="card-header text-bg-primary fw-bold fs-5">{{title}}
    <h6 class="text-end">Posted by
      {{user.name}}
      on
      {{format_date created_at}}</h6>
  </div>
  <div class="card-body">
    <p>
      {{post_content}}
    </p>
    <button type="submit" class="btn btn-info"><a
        class="link"
        style="text-decoration: none"
        href="/dashboard/edit/{{id}}"
      >Edit Post</a>
    </button>
  </div>
</div>