<div class="card border-primary mb-3">
  <div class="card-header text-bg-primary fw-bold fs-5">{{singlePost.title}}
  </div>
  <div class="card-body">
    <p>
      {{singlePost.post_content}}
    </p>
    <p>
      {{singlePost.comments.length}} comment(s)
    </p>
  </div>
</div>

{{#if logged_in}}
<!-- Comment Form -->
<div class="card border-primary mb-3">
  <div class="card-header text-bg-primary fw-bold fs-5 mb-3">Comment</div>
  <div class="mb-3">
    <form class="card-body" id="comment-form">
      <textarea name="comment-body" class="form-control mb-3" rows="3">
      </textarea>
      <button type="submit" class="btn btn-primary">Add comment</button>
    </form>
  </div>
</div>
{{/if}}

<div class='comments'>
  {{#each singlePost.comments}}
  <div class="card border-primary mb-3" data-commentID={{this.id}}>
    <div class="card-header text-bg-primary mb-3 fw-bold fs-5">Comment by {{user.name}} on {{format_date created_at}}
    </div>
    <div class="card-body">
      <p>
        {{this.comment}}
      </p>
      <div class='mb-3'>
        {{#validate_id this.user_id '===' ../user_id}}
        {{/validate_id}}
      </div>
    </div>
  </div>
  {{/each}}
</div>

{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}